.wrapper{
    background-color: #fff;
}
/* Footer-container */
.footer-container{
    padding-top: 60px;
    background-color: #3B4A6B;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    
   
}

.footer-about{
    flex: 1;
}


.icon-link{
    color: #fff;
    font-size: 25px;
    margin-left: 5px;
}

.footer-about p{
    width: 300px;
}

.footer-reach_at{
    flex: 1;
}

.reach-at{
    display: flex;
    flex-direction: column;
}


.footer-subscribe{
    flex: 1;
}

.email{
    width: 150px;
    height: 30px;
}
.sub-btn{
    width: 157.2px;
    height: 30px;
    background-color: #f0d43a;
    color: #fff;

}

/* testimonial-container */
.testimonal-container{
    background-color: #fff;
    text-align: center;
    
}
.testimonal-container h2{
    color: black;

}
.testimonal-customer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}
.customer-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #3b4a6b;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 600px;
}
.customer-img img{
    width: 100%;
    border-radius: 100%;
}
.customer-img{
    width: 125px;
    height: 125px;
    border: 2px dashed #f0d43a;
    border-radius: 100%;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 5px;

}
.customer{
    color: #f0d43a;
    margin-bottom: 5px;
    margin-top: 5px;
}
.content-text{
    width: 500px;
    margin-bottom: 5px;
}